.todo{
 color: white;
  background-color: black;
}
.todo-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bolder;
}

.todo-list-item {
  display: flex;
  justify-content: space-between;
}
